<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>GreatestNumberServlet</servlet-name>
        <servlet-class>com.example.GreatestNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreatestNumberServlet</servlet-name>
        <url-pattern>/greatest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.example.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SquareServlet</servlet-name>
        <servlet-class>com.example.SquareServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SquareServlet</servlet-name>
        <url-pattern>/sqServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPageServlet</servlet-name>
        <servlet-class>com.example.AddPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPageServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NameFormPageServlet</servlet-name>
        <servlet-class>com.example.NameFormPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NameFormPageServlet</servlet-name>
        <url-pattern>/name</url-pattern>
    </servlet-mapping>
</web-app> 